Real_Estate_Data_science_Project filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
pipeline.pkl filter=lfs diff=lfs merge=lfs -text
pipelineA.pkl filter=lfs diff=lfs merge=lfs -text
PIPELINE[[:space:]]DATA/pipeline.pkl filter=lfs diff=lfs merge=lfs -text
PIPELINE[[:space:]]DATA/pipelineA.pkl filter=lfs diff=lfs merge=lfs -text
